{
	"root": true,

	"env": { "browser": true, "es2020": true, "node": true },

	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react-hooks/recommended",
		"plugin:import/recommended",
		"plugin:prettier/recommended"
	],
	"ignorePatterns": ["dist", ".eslintrc", "vite.config.ts", "tailwind.config.js", "commitlint.config.ts"],

	"parser": "@typescript-eslint/parser",

	"settings": {
		"react": { "version": "18.2" },
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"],
				"moduleDirectory": ["node_modules", "src/"]
			},
			"alias": {
				"extensions": [".ts", ".tsx"],
				"map": [
					["@UI", "./src/UI"],
					["@components", "./src/components"],
					["@utils", "./src/utils"],
					["@constants", "./src/constants"],
					["@pages", "./src/pages"],
					["@modules", "./src/modules"]
				]
			}
		}
	},

	"plugins": ["react-refresh", "react", "import", "prettier", "simple-import-sort"],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	},
	"rules": {
		"react/jsx-no-target-blank": "off",
		"react-refresh/only-export-components": ["warn", { "allowConstantExport": true }],
		"react/no-array-index-key": "warn",
		"react/prop-types": "off",
		"react/button-has-type": "warn",
		"react/jsx-no-useless-fragment": ["error", { "allowExpressions": true }],
		"no-useless-return": "error",
		"arrow-body-style": ["warn", "as-needed"],
		"prefer-arrow-callback": "warn",
		"no-shadow": "error",
		"max-len": ["error", { "code": 130 }],
		"prefer-const": "warn",
		"no-var": "error",
		"no-console": "warn",

		"prettier/prettier": ["error", { "endOfLine": "auto" }],

		"import/no-unresolved": ["error", { "caseSensitive": false }],
		"import/no-default-export": "warn",
		"no-duplicate-imports": "error",
		"import/first": "error",
		"import/newline-after-import": "warn",
		"simple-import-sort/imports": [
			"error",
			{
				"groups": [
					// External packages
					["^react", "^@?\\w"],
					// Internal packages
					["^@(\\w+/)?\\w+/.*$"],
					// Alias imports
					["^@((\\w|_)?\\w)\\/assets|test-utils"],
					// Side effect imports
					["^\\u0000"],
					// Parent imports
					["^\\.\\.(?!/?$)", "^\\.\\./?$"],
					// Other relative imports
					["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
					// Style imports
					["^.+\\.s?css$"]
				]
			}
		],
		"simple-import-sort/exports": "error"
	}
}
